[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/safe-smart-account"]
	path = lib/safe-smart-account
	url = https://github.com/safe-global/safe-smart-account
[submodule "lib/eas-contracts"]
	path = lib/eas-contracts
	url = https://github.com/ethereum-attestation-service/eas-contracts
[submodule "lib/logbook"]
	path = lib/logbook
	url = https://github.com/AstralProtocol/logbook
[submodule "lib/astralprotocol"]
	path = lib/astralprotocol
	url = https://github.com/AstralProtocol/astralprotocol
